{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block content_base %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'user-notes' %}"><i class='bx bxs-rocket bx-tada-hover'></i>NewNotes</a>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link " href="{% url 'user-notes' %}">Главная</a>
            </div>
            <!-- Правая часть навигационной панели -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'note-create' %}">Новая запись</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
{% endblock content_base %}