{% extends "notes/base_header.html" %}
{% block content %}
    <div class="content-section">
        <h1 class="mb-3">Записи пользователя {{ user }}</h1>
        {% for note in notes %}
            <article class="media content-section">
              <div class="media-body">
                <h2><a class="article-title" href="{% url 'note-detail' note.id %}">{{ note.title }}</a></h2>
                <div class="article-metadata">
                  <small class="text-muted">{{ note.date_posted|date:"F d, Y" }}</small>
                </div>
                <p class="article-content">{{ note.content }}</p>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}